@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "ZCOOL XiaoWei", serif;
  color: whitesmoke;
  background: black;
  background: linear-gradient(-45deg, #362468, #120042, #000000, #120042);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
