@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "ZCOOL XiaoWei", serif;
  color: whitesmoke;
  background: black;
}
